[Unit]
Description=HTTP server for rssrdr
After=network.target

[Service]
ExecStart=/bin/bash -c "/var/www/rssrdr/SimpleRssServer --hostname http://localhost:8001/ --loglevel debug 2> >(/usr/bin/ts '[%%Y-%%m-%%d %%H:%%M:%%S]' >&2) | /usr/bin/ts '[%%Y-%%m-%%d %%H:%%M:%%S]'"
WorkingDirectory=/var/www/rssrdr
User=rss
Group=1000
Restart=always
StandardOutput=append:/var/log/rssrdr/rssrdr.log
StandardError=append:/var/log/rssrdr/rssrdr.err

[Install]
WantedBy=multi-user.target
